{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "node": true
        }
      }
    ]
  ],
  "ignore": [
    "node_modules"
  ],
  "comments": false
}